<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Orça Fácil</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body class="bc-white" >
    <div class="center" >
        <img src="static/img/OrçaFácil (3).png" class="logo">
    </div>

    <h2 class="center txt-sobre1 bold" >Não recebeu instruções de confirmação?</h2><br>
    <p class="center txt-sobre"  >Se você acabou de se cadastrar no Orça Fácil e ainda não recebeu o e-mail de confirmação, não se preocupe! Abaixo estão algumas dicas para ajudá-lo a solucionar o problema rapidamente:<br><br>

        - Verifique sua caixa de spam ou lixo eletrônico: Às vezes, e-mails de confirmação podem ser redirecionados automaticamente para essas pastas. Caso o e-mail tenha sido para lá, basta marcá-lo como "não spam" para garantir que você o receba nas próximas vezes. <br>
        
        - Confira o endereço de e-mail informado: Se houver algum erro de digitação ao fornecer seu e-mail, o e-mail de confirmação pode não ter sido enviado corretamente. Certifique-se de que o endereço está correto.<br>
        
        - Reenvie as instruções: Caso não tenha encontrado o e-mail, você pode solicitar o reenvio das instruções de confirmação. Basta clicar no botão abaixo para que o sistema envie um novo e-mail para o seu endereço de registro.<br>
        
        - Entre em contato com o suporte: Se o problema persistir, nossa equipe de suporte está pronta para ajudar. Basta entrar em contato conosco através do [link de contato] ou pelo e-mail de suporte, e resolveremos o problema o mais rápido possível.</p>
        <br><br>

        <h2 class="center txt-sobre1 bold" >Sobre</h2>
        <p class="center txt-sobre" >O Orça Fácil é uma plataforma inovadora criada para transformar a maneira como você gerencia suas finanças pessoais. Nossa missão é tornar o controle financeiro acessível, simples e eficiente para todos, sem complicações ou jargões financeiros.<br>

            Em um mundo cada vez mais dinâmico e repleto de opções de consumo, é fácil perder o controle das suas finanças. Pensando nisso, criamos uma solução prática e intuitiva para que você possa organizar seus gastos, planejar seu futuro financeiro e alcançar seus objetivos com mais facilidade.<br>
            
            Com o Orça Fácil, você tem acesso a ferramentas que ajudam a:<br><br>
            
            Organizar suas receitas e despesas de forma clara e objetiva;<br>
            Criar orçamentos personalizados para ter um controle mais rigoroso sobre seus gastos;<br>
            Analisar suas finanças com relatórios que ajudam a identificar pontos de melhoria no seu fluxo de caixa;<br>
            Estabelecer metas financeiras, seja para economizar, investir ou pagar dívidas.<br>
            Nosso compromisso é com a segurança e a privacidade dos seus dados. Implementamos as melhores práticas de proteção para garantir que suas informações estejam sempre seguras.<br>
            
            Seja você um iniciante no mundo das finanças ou alguém que já tem experiência, o Orça Fácil é a ferramenta ideal para ajudá-lo a tomar decisões financeiras mais inteligentes e alcançar seus objetivos com tranquilidade.<br>
            
            Acreditamos que todo mundo merece ter o controle sobre seu dinheiro. E com o Orça Fácil, queremos ser o seu parceiro na jornada para uma vida financeira mais saudável e equilibrada.<br>
            
            Junte-se a nós e comece a tomar decisões financeiras mais conscientes hoje mesmo!
            
            </p><br><br>

            <h3 class="center txt-sobre1 bold">Privacidade</h3>
            <p class="center txt-sobre">Na Orça Fácil, levamos a sua privacidade muito a sério. Sabemos o quanto a proteção de suas informações pessoais e financeiras é importante, por isso adotamos medidas rigorosas para garantir que seus dados estejam sempre seguros e protegidos.<br>

                Compromisso com a transparência e segurança: Nossa política de privacidade é clara e transparente. Ao utilizar nossos serviços, você pode ficar tranquilo sabendo que seus dados são tratados com o máximo respeito e de acordo com as melhores práticas de segurança da informação. Implementamos tecnologias de ponta para proteger suas informações contra acessos não autorizados, perda ou uso indevido.<br>
                
                O que coletamos e por que? Coletamos apenas as informações necessárias para proporcionar a você uma experiência personalizada e segura no uso da plataforma. Isso inclui dados como nome, endereço de e-mail e informações financeiras relacionadas ao seu controle de orçamento. Usamos essas informações exclusivamente para:<br><br>
                
                Criar e gerenciar sua conta de forma eficiente;<br>
                Enviar atualizações importantes sobre o funcionamento da plataforma;<br>
                Oferecer suporte técnico, quando necessário;<br>
                Melhorar continuamente nossos serviços para atender melhor às suas necessidades.<br><br>
                Compartilhamento de dados: Nós da Orça Fácil respeitamos a sua privacidade e não compartilhamos suas informações com terceiros sem o seu consentimento expresso, exceto quando exigido por lei ou para cumprir com obrigações contratuais.<br>
                
                Segurança de dados: Utilizamos criptografia avançada e outras ferramentas de segurança para proteger as informações que você nos fornece, seja ao criar uma conta, fazer login ou registrar transações financeiras. Seu acesso à plataforma é seguro, e nossas práticas de segurança são regularmente revisadas e atualizadas para acompanhar as novas ameaças à segurança digital.<br>
                
                Seus direitos: Você tem o direito de acessar, corrigir ou excluir suas informações pessoais a qualquer momento. Se tiver dúvidas ou preocupações sobre como tratamos seus dados, ou se desejar exercer algum dos seus direitos, nossa equipe de suporte está disponível para ajudar.<br>
                
                A privacidade dos nossos usuários é uma prioridade para nós, e estamos comprometidos em garantir que você possa usar o Orça Fácil com total confiança e tranquilidade.</p><br><br>
            

            <h3 class="center txt-sobre1 bold">Termos de Uso</h3>
            <p class="center txt-sobre">Seja bem-vindo ao Orça Fácil! Ao acessar e utilizar nossa plataforma, você concorda com os seguintes Termos de Uso. Recomendamos que leia atentamente estas condições para garantir que você compreenda como nossos serviços funcionam, quais são seus direitos e responsabilidades ao utilizar nossos recursos.<br><br>

                1. Aceitação dos Termos<br><br>
                
                Ao criar uma conta no Orça Fácil ou utilizar qualquer um de nossos serviços, você concorda com os Termos de Uso e com nossa Política de Privacidade. Se não concordar com qualquer um desses termos, recomendamos que não utilize nossos serviços.
                <br>
                2. Alterações nos Termos<br><br>
                <br>
                Os Termos de Uso podem ser atualizados periodicamente. Quando fizermos alterações, informaremos você por meio de notificações na plataforma ou por e-mail. Ao continuar utilizando os serviços após essas mudanças, você concorda com os novos termos.
                <br>
                3. Cadastro e Conta de Usuário<br><br>
                
                Para acessar os recursos do Orça Fácil, é necessário criar uma conta de usuário. Você se compromete a fornecer informações precisas, completas e atualizadas no momento do cadastro. É sua responsabilidade manter a confidencialidade dos seus dados de login, como nome de usuário e senha, e garantir que sua conta não seja utilizada por terceiros não autorizados.
                <br>
                4. Uso da Plataforma
                <br><br>
                Você concorda em usar o Orça Fácil apenas para fins legais e de acordo com os princípios da boa fé. A plataforma foi desenvolvida para fins de controle financeiro pessoal, e o uso indevido, como para atividades fraudulentas, será sujeito a sanções, incluindo a suspensão ou cancelamento da conta.
                <br>
                5. Responsabilidades do Usuário
                <br><br>
                Você é responsável por:
                <br>
                  Manter a precisão e a veracidade das informações fornecidas no Orça Fácil;
                <br>  Proteger a confidencialidade de suas credenciais de acesso;
                <br> Não utilizar a plataforma para realizar atividades ilegais, fraudulentas ou prejudiciais a outros usuários;
                <br>Não divulgar ou compartilhar sua conta com terceiros sem a devida autorização.
                6. Direitos de Propriedade Intelectual
                <br><br>
                Todos os conteúdos presentes na plataforma Orça Fácil, incluindo, mas não se limitando a textos, imagens, logos, ícones, design e código-fonte, são de propriedade exclusiva do Orça Fácil ou licenciados para nós. O uso de qualquer conteúdo da plataforma sem nossa autorização é estritamente proibido.
                <br>
                7. Privacidade e Proteção de Dados
                <br><br>
                A privacidade dos nossos usuários é uma das nossas principais prioridades. Todas as informações fornecidas por você são tratadas de acordo com nossa Política de Privacidade. Ao utilizar nossos serviços, você concorda com a coleta, armazenamento e uso de seus dados conforme descrito em nossa política.
                <br>
                8. Isenção de Responsabilidade
                <br><br>
                Embora nos esforcemos para manter a plataforma segura e funcional, não podemos garantir que o Orça Fácil estará livre de erros, interrupções ou falhas técnicas. Não nos responsabilizamos por quaisquer danos ou perdas decorrentes do uso da plataforma, incluindo perda de dados financeiros ou falhas no sistema.
                <br>
                9. Cancelamento e Suspensão da Conta
                <br><br>
                Você pode cancelar sua conta a qualquer momento, acessando as configurações de sua conta. O Orça Fácil também se reserva o direito de suspender ou cancelar sua conta caso haja violação dos Termos de Uso ou uso indevido da plataforma.
                <br>
                10. Limitação de Responsabilidade
                <br><br>
                Em nenhuma hipótese, o Orça Fácil será responsável por danos diretos, indiretos, incidentais ou consequenciais resultantes do uso ou da impossibilidade de uso da plataforma, incluindo, mas não se limitando a, perdas financeiras ou interrupções no serviço.
                <br>
                11. Lei Aplicável e Jurisdição
                <br><br>
                Esses Termos de Uso são regidos pelas leis do Brasil. Quaisquer disputas serão resolvidas nos tribunais da cidade onde o Orça Fácil está sediado, conforme a legislação brasileira.
                <br>
                12. Suporte e Contato
                <br><br>
                Se você tiver dúvidas ou questões sobre os Termos de Uso, entre em contato com nossa equipe de suporte através do e-mail suporte@orcafacil.com.</p>
</body>
</html>